JGOMAS_Unity_Windows/JGomas_w32_Data/output_log.txt
JGOMAS_Unity_Windows/JGomas_w64_Data/output_log.txt

*agente.log*

jgomas/bin/mas/APDescription.txt
jgomas/bin/mas/JGOMAS_Statistics.txt
jgomas/bin/mas/MTPs-Main-Container.txt
jgomas/bin/render/w32/Acceso directo a run_jgomasrender.lnk
jgomas/bin/mas/mi_launcher.bat
jgomas/bin/mas/mi_manager.bat
